{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eshop</title>
    <!-- css bootstrap online link -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Google icons -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- css bootstrap local link -->
     <link rel="stylesheet" href="file:///C:/Users/admin/BOOTSTRAP/css/bootstrap.min.css">

    <!-- css local link -->
     <link rel="stylesheet" href="../static/css/style.css">
     <link rel="stylesheet" href="../static/css/cart.css">

    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    </script>

</head>
<body>
    <div class="container-fluid stick px-0">
      <nav class="navbar navbar-expand-lg navbar-light nav-custom ">
      
          <div class="divpos">
            <a class="navbar-brand py-0 material-symbols-outlined" href="#">Home</a>
         </div>
        
         <div class="navbar navbar-light search-custom ">
           <form class="form-inline" method="post" action="{% url 'search_item' %}" enctype="multipart/form-data">
 
               {% csrf_token %}

              <div class="row">
                <div class="col-10 pr-2 border-right-0">
                  <input class="form-control pl-0" type="search" placeholder="Search Computer" aria-label="Search" name="searched">
                </div>
                <div class="col-2 pl-2 pt-2 border-left-0">
                  <button class="material-symbols-outlined" type="submit">
                    search
                  </button>
                </div>
              </div>
           </form>
         </div>

         <div class="divpos">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
        </div>

         <div class="collapse navbar-collapse divpos " id="navbarNavDropdown">
           <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
             <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">Login</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}

             <!-- 4 -->
             
           </ul>
         </div>

         <div class="row cart-circ pr-3">
          <div class="col-5 px-0 pt-1 material-symbols-outlined">
            <a href="{% url 'cart' %}">shopping_cart</a> 
          </div>
          <div class="col-7">
            <a href="{% url 'cart' %}">{{cartItems}}</a> 
          </div>
        </div>
  
      </nav>
    </div>

    {% block body_block %}

    {% endblock %}

<footer>
  <div class="div bg-dark ">
    <div class="container ">
      <div class="row justify-content-center pt-5 ">
        <div class="col-lg-5">
          <div class="row">
          <div class="col-12">
            <h3 class="text-center text-white delivarytext">About E-shop</h3>
          </div>
          <div class="col-12 pt-4 aboutstyle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quae id earum praesentium, impedit odio eos eum facere debitis officiis eligendi dignissimos quis aut ipsum nisi ipsa quam. Facere labore vero odio laborum, totam amet eum consequatur, inventore nam deserunt praesentium ab debitis, distinctio in libero hic vel! Reprehenderit, adipisci.
          </div>
          <div class="col-12 pt-3 aboutcontact">
            email: e-shop@gmail.com <br>
            phone: 11122334455
          </div>
        </div>
        </div>

        <div class="col-lg-2">
          <div class="row">
          <div class="col-12">
            <h3 class="text-center text-white delivarytext">Navigation</h3>
          </div>
          <div class="col-12 footerliststyle pt-4">
            <ul> 
              <a href="{% url 'home' %}"><li>Home</li></a>
              <a href="#"><li>Contacts</li></a>
              <a href="#"><li>About</li></a>
              <a href="#"><li>Services</li></a>
            </ul>

          </div>
        </div>
        </div>

        <div class="col-lg-5">
          <div class="row">
          <div class="col-12">
            <h3 class="text-center text-white delivarytext">FAQ</h3>
          </div>
          <div class="col-12 faqinputstyle text-center  pt-4">
            <input type="text" placeholder="Send your thoughts">
          </div>
          <div class="col-12 faqbuttonstyle text-center pt-2">
            <button type="submit">Send</button>
          </div>
        </div>
        </div>
        
      </div>
    </div>
    <div class="container  ">
      <div class="row">
        <div class="col-12 mt-5 mb-5 text-center">
          <!-- <h6>Copyright ©2023 All rights reserved | This template is made with  by Colorlib</h6> -->
        </div>
      </div>
    </div>
  </div>


</footer>

    <script src="../static/js/cart.js">

    </script>
    <script src="../static/js/checkout.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<!-- js boostrap online link -->
<link rel="stylesheet" href="file:///C:/Users/admin/BOOTSTRAP/js/bootstrap.min.js">
<!-- js boostrap local link -->
<link rel="stylesheet" href="../static/js/cart.js">
<!-- <script type="text/javascript" src="{% static 'js/cart.js' %}"></script> -->
</body>
</html>